@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.flexRow{
    display: inline-block;
    font-size: 14px; 
    font-family: 'Montserrat', sans-serif;
    position: center;
    color: rgb(204, 154, 88);
    
    width: 100%;
}


.directoryOpen{
    display: inline;
    padding-left: 5%;
}

.directoryHide{ 
    display: none;
}

.link{
    padding-left: 5%; 
    padding-right:5%;
}

.home{
    display: none;
}

.homebutton{
    display: inline;
    padding-left: 5%;
}



