@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.flexRow{
    display: inline-flex;
    font-size: 14px;
    padding: 0.5rem; 
    font-family: 'Montserrat', sans-serif;
    position: center;
    color: rgb(222, 219, 215);
    font-style: italic;
}

.directoryOpen{
    display: inline;
    padding-left: 5%;
}

.directoryHide{ 
    display: none;
}

.link{
    padding-left: 5%; 
    padding-right:5%;
}

.home{
    display: none;
}

.homebutton{
    display: inline;
    padding-left: 5%;
}



