
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');


.tag{
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    color: rgb(222, 219, 215);
    display: block;
    font-family: 'Montserrat', sans-serif
}
.tag1{
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    color: rgb(222, 219, 215);
    display: block;
    font-family: 'Montserrat', sans-serif; 

}

.tag2{
    font-size: 55px;
    font-weight: 500;
    font-style: normal;
    color: rgb(222, 219, 215);
    display: block;
    margin-top: -3.5rem;
    font-family: 'Montserrat', sans-serif;
}

.tag3{
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    color:rgb(92, 231, 180);
    display: block;
    margin-top: -3.5rem;
    font-family: 'Montserrat', sans-serif;
}

.absolute{
    position: absolute;
    bottom: 10px;
    width: 50%;
}